{% extends 'baseApp/base.html' %}

{% block body %}

<center>
  <h1> Contact me </h1> <br>

  <form method="POST">
    {% csrf_token %}

    <input type="email" placeholder="Your email" name="email" required><br><br>
    <input type="text" name="subject" placeholder="Subject"> <br><br>
    <textarea name="message" placeholder="Ask me anything" cols="30" rows="10" required></textarea> <br><br>

    <input type="submit" placeholder="Send" class="btn btn-outline-primary">
  </form>
</center>

{% if message %}
<center>
  <h1> Email successfully sent </h1>
  Send another or <a href="{% url 'login' %}" hx-boost="true"> <b>login</b> </a>
</center>
{% endif %}

{% endblock body %}