
{% extends 'baseApp/base.html' %}

{% block body %}

{% if not request.user.is_authenticated %}

  <form method="post">
    {% csrf_token %}
    <div class="container">
      <label for="">Email</label> <br>
      <input type="text" placeholder="Email" name="email" required> <br>
      <label for="">Password</label> <br>
      <input type="password" placeholder="Password" name="password" required><br><br>

      <button class="btn btn-primary" type="submit">Login</button><br><br>

      <span class="psw"><a href="{% url 'register' %}" hx-boost="true"> Swith to Register Page </a></span> <br>
      <a href="{% url 'reset_password' %}"> <small><b>Forget password?</b></small> </a> <br><br>
      <a href="{% url 'contact_me' %}">Contact me</a> 
    </div>
  </form>

{% else %}
  <center>    
    <h6> {{ request.user.username }} is already logged in. 
      Back to <a href="{% url 'home' %}"> homepage. </a>
    </h6>
  </center>
{% endif %}

{% endblock body %}