<!-- dynamic search -->
<input id="search" type="text" name="q" placeholder="Dest/Email"   
  hx-get="{% url 'albums_search' %}"
  hx-target="#all_albums_wrapper"
  hx-trigger="keyup changed delay:500ms"> <br> <br> <br>



<a id="activities_button" style="text-decoration: none;"
  hx-get="{% url 'display_participants' %}"
  hx-target="#display_participants"> 
  Activities 
</a> <br> <br> <br>




  <a id="new_album_button" style="text-decoration: none;"
    hx-get="{% url 'create_new_album_form_display' %}"
    hx-target="#create_new_album_form"> 
      <b>Add new</b>
  </a> <br> <br> <br>




<a id="all_albums_my_albums_button"
  href="{% url 'home' %}" style="text-decoration: none;" 
  hx-boost="true">
    Albums {{ all_albums.count }} 
</a> <br> <br> <br>


<a id="all_albums_my_albums_button"
  href="{% url 'display_my_albums' %}" style="text-decoration: none;" 
  hx-get="{% url 'display_my_albums' %}"
  hx-target="#all_albums_wrapper"> 
    Archive 
</a> <br> <br> <br>




<p> See albums by seasons </p> 

{% for season in all_seasons %}
  <div class="list-group">
    <a hx-get="{% url 'one_season_albums_display' season.pk %}" 
      hx-target="#replaced_div_with_one_year-season_view"
      class="list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-between">
        <p class="mb-0" id="all_seasons_font"> {{ season.season_name }} </p>
        <small class="text-primary">{{ season.album_set.all.count }}</small>
      </div>
    </a>
  </div>
{% endfor %} <br>



<p> See albums by years </p> 

{% for year in all_years %}
  <div class="list-group">
      <a hx-get="{% url 'one_year_album_display' year.pk %}" 
        hx-target="#replaced_div_with_one_year-season_view"
        class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <p class="mb-0" id="all_years_font"> {{ year.album_year }} </p>
          <small class="text-primary">{{ year.album_set.all.count }}</small>
        </div>
      </a>
  </div>
{% endfor %}
