
<!-- dynamic search -->
<input id="search" type="text" name="q" placeholder="Dest/mail"   
  hx-get="{% url 'albums_search' %}"
  hx-target="#all_albums_wrapper"
  hx-trigger="keyup changed delay:500ms"
/> <br> <br> 


<a href="{% url 'chat_home' %}"> 
  <button class="btn btn-info btn-sm">
    <small> <small> 
      Chat rooms 
    </small> </small>
  </button> <br> <br>
</a>


<a hx-get="{% url 'display_participants' %}"
  hx-target="#display_participants"> 
  <button class="btn btn-primary btn-sm btn-block">
    Activities 
  </button>
</a> <br> <br>


<a href="{% url 'home' %}" 
  hx-boost="true">
  <button class="btn btn-primary btn-sm btn-block">
    Albums {{ all_albums.count }} 
  </button>
</a> <br> <br> 


<a href="{% url 'display_my_albums' %}"
  hx-get="{% url 'display_my_albums' %}"
  hx-target="#all_albums_wrapper"> 
  <button class="btn btn-primary btn-sm btn-block">
    Archive
  </button>
</a> <br> <br> 


<a hx-get="{% url 'create_new_album_form_display' %}"
  hx-target="#create_new_album_form"> 
  <button class="btn btn-primary btn-sm btn-block">
    <b> Add new </b>
  </button>
</a> <br> <br> <br>




<p> See albums by seasons </p> 

{% for season in all_seasons %}
  <div class="list-group">
    <a hx-get="{% url 'one_season_albums_display' season.pk %}" 
      hx-target="#replaced_div_with_one_year-season_view"
      class="list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-between">
        <p class="mb-0" id="all_seasons_font"> {{ season.season_name }} </p>
        <small class="text-primary">{{ season.album_set.all.count }}</small>
      </div>
    </a>
  </div>
{% endfor %} <br>


<p> See albums by years </p> 

{% for year in all_years %}
  <div class="list-group">
      <a hx-get="{% url 'one_year_album_display' year.pk %}" 
        hx-target="#replaced_div_with_one_year-season_view"
        class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <p class="mb-0" id="all_years_font"> {{ year.album_year }} </p>
          <small class="text-primary">{{ year.album_set.all.count }}</small>
        </div>
      </a>
  </div>
{% endfor %}
