
<div id="display_chat_home_form">
</div>

<div id="display_participants">
</div>


<div id="create_new_album_form">
    <div id="display_participants_album">
        <div id="replaced_div_with_one_year-season_view">
            <div id="all_albums_wrapper">

                {% if all_albums.has_previous %}
                    <a href="?page={{ all_albums.previous_page_number }}"> 
                        <button class="btn btn-primary btn-sm"> &laquo </button> 
                    </a>
                {% endif %}

                {% if all_albums.has_next %}
                    <a href="?page={{ all_albums.next_page_number }}"> 
                        <button class="btn btn-primary btn-sm"> &raquo </button> 
                    </a>
                {% endif %} 

                <center><b> <small>{{ all_albums.number }} page of {{ all_albums.paginator.num_pages }}</small> </b></center>

              




                {% include 'baseApp/parts/all_albums_display.html' %}

                {% if forloop.last %}
                    <div hx-get="{% url 'all_albums_display' %}?page={{ all_albums.number|add:1 }}"
                        hx-trigger="revealed"
                        hx-target="this"
                        hx-swap="afterend">
                    </div>
                {% else %}
                    <div></div>
                {% endif %}



                

                {% if all_albums.has_previous %}
                    <a href="?page={{ all_albums.previous_page_number }}"> 
                        <button class="btn btn-primary btn-sm"> &laquo </button> 
                    </a>
                {% endif %}

                {% if all_albums.has_next %}
                    <a href="?page={{ all_albums.next_page_number }}"> 
                        <button class="btn btn-primary btn-sm"> &raquo </button> 
                    </a>
                {% endif %} 

               <center><b> <small>{{ all_albums.number }} page of {{ all_albums.paginator.num_pages }}</small> </b></center>


            </div>
        </div>
    </div>
</div> 
