
<div class="alert alert-muted alert-dismissible fade show" role="alert">

    <div align="center">
        <h4> Chat rooms </h4>
    </div>




    <form id="post-form" hx-post="{% url 'checkview' %}" action="checkview">
        {% csrf_token %}
        <input type="text" name="room_name" id="room_name" width="100px" required placeholder="Create / Enter the room"/> <br> <br>
        <input type="hidden" type="text" name="username" id="username" width="100px" value="{{ request.user.username }}" placeholder="Your username"/> 
        <input type="submit" value="Enter Room"><br> <br>
    </form>


    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>



