body  {
  padding: 10px;
}

/*body {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }*/

/*#column_wrapper {
  display: grid;
  grid-template-columns: 1fr 10fr;
    padding: 1%;
}*/

/*#all_albums_wrapper {
    padding: 1%;
}
#all_seasons_wrapper {
    padding: 1%;
}

input[type=text], 
input[type=date], 
input[type=file],
input[type=submit],
input[type=password],
input[type=email] {
    width: 90%;
    padding: 1%;
    display: inline-block;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 0px black;
  }

select {
    border-radius: 10px;
  }*/

/* #success_album_created_message {
  font-size: 1.2vw;
} */

/* #display_all_images_from_single_album {
  padding: 1%;
} */

/*#all_seasons_font {
  font-size: 2.0vw;
  font-weight: bold;
}

#all_years_font {
  font-size: 2.0vw;
  font-weight: bold;
}
#comment_delete_button {
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  font-size: 2vw;
}
#delete_album_button {
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
}*/
/* #new_album_button {
  background-color: blue;
  color: white;
  border-radius: 10px;
  font-size: 2.5vw;
  padding: 10%; 
} */

/* #all_albums_my_albums_button {
  background-color: blue;
  color: white;
  border-radius: 10px;
  font-size: 2.5vw;
  padding: 10%; 
} */

/* #album_comments_button {
  background-color: blue;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 3vw;
  font-weight: bold;
} */

/* #activities_button {
  background-color: blue;
  color: white;
  border-radius: 10px;
  font-size: 2.5vw;
  padding: 10%;  
} */

/*#search {
  padding: 5%;
}

/* #new_album_form {
  padding: 1%;
} */

/*#participants {
  background-color:aliceblue;
  padding: 10px;
  border-radius: 10px;
}

b {
  text-decoration: underline;
}

#comments {
  background-color:aliceblue;
  padding: 10px;
  border-radius: 10px;
}*/