
/* body { */
    /* background-image: url("https://images4.alphacoders.com/111/1112898.jpg"); */
    /* background-position: center; */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
  /* } */

#column_wrapper {
    display: grid;
    grid-template-columns: 1fr 10fr;
    padding: 1%;
    font-size: 2.5vw;
}

#all_albums_wrapper {
    padding: 1%;

}
#all_seasons_wrapper {
    padding: 1%;
}

input[type=text], 
input[type=date], 
input[type=file],
input[type=submit],
input[type=password],
input[type=email] {
    width: 90%;
    padding: 1%;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
  }

select {
    border-radius: 10px;
  }

/* #success_album_created_message {
  font-size: 1.2vw;
} */

#display_all_images_from_single_album {
  padding: 1%;
}

#all_seasons_font {
  font-size: 2.5vw;
}

#all_years_font {
  font-size: 2.5vw;
}