
body {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* background-image: url("https://images4.alphacoders.com/111/1112898.jpg"); */
    /* background-position: center; */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
  }

#column_wrapper {
    display: grid;
    grid-template-columns: 1fr 10fr;
    padding: 1%;
    font-size: 2.5vw;
}

#all_albums_wrapper {
    padding: 1%;

}
#all_seasons_wrapper {
    padding: 1%;
}

input[type=text], 
input[type=date], 
input[type=file],
input[type=submit],
input[type=password],
input[type=email] {
    width: 90%;
    padding: 1%;
    display: inline-block;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 0px black;
  }

select {
    border-radius: 10px;
  }

/* #success_album_created_message {
  font-size: 1.2vw;
} */

#display_all_images_from_single_album {
  padding: 1%;
}

#all_seasons_font {
  font-size: 2.5vw;
}

#all_years_font {
  font-size: 2.5vw;
}
#comment_delete_button {
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  font-size: 2vw;
}
#delete_album_button {
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
}
<<<<<<< HEAD
/* #new_album_button {
=======
#new_album_button {
>>>>>>> 9b040a1be5b8f4895d5134337111eab2fd0d041a
  background-color: blue;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 3vw;
  font-weight: bold;
  box-shadow: 3px 3px 10px 0px black;
  padding: 10px;
} */

<<<<<<< HEAD
/* #all_albums_my_albums_button {
=======
#all_albums_my_albums_button {
>>>>>>> 9b040a1be5b8f4895d5134337111eab2fd0d041a
  background-color: blue;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 2.5vw;
  box-shadow: 3px 3px 10px 0px black;
  padding: 8px;
} */

#album_comments_button {
  background-color: blue;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 3vw;
  font-weight: bold;
}

<<<<<<< HEAD
/* #activities_button {
=======
#activities_button {
>>>>>>> 9b040a1be5b8f4895d5134337111eab2fd0d041a
  background-color: blue;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 2.5vw;
  box-shadow: 3px 3px 10px 0px black;
  padding: 5px;
} */

#search {
<<<<<<< HEAD
  padding: 2px;
}
=======
  box-shadow: 3px 3px 10px 0px black;
  padding: 3px;
}
>>>>>>> 9b040a1be5b8f4895d5134337111eab2fd0d041a
