{% extends 'baseApp/base.html' %}

{% block body %}

<br><br><br>

<div align="center">
    <h2> Chat rooms </h2> <br>
</div>

<div class="container">
  <form id="post-form" method="POST" action="checkview">
    {% csrf_token %}
    <input type="text" name="room_name" id="room_name" required placeholder="Create / enter the room"/><br><br>
    <input type="hidden" type="text" name="username" id="username" value="{{ request.user.username }}" placeholder="Your username"/>
    <button type="submit" class="btn btn-primary btn-sm"> Enter room </button>
    <a href="{% url 'home' %}" hx-boost="true" class="btn btn-primary btn-sm"> Back </a>
    <br><br>
  </form>
   
</div>

{% endblock body %}

