<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>

<div align="center">
    <h2> Chat rooms </h2>
</div>


<div class="container">


  <form id="post-form" method="POST" action="checkview">
    {% csrf_token %}
    <input type="text" name="room_name" id="room_name" width="100px" required placeholder="Create / Enter the room"/>
    <input type="hidden" type="text" name="username" id="username" width="100px" value="{{ request.user.username }}" placeholder="Your username"/>
    <input type="submit" value="Enter Room">
  </form>
  <a href="{% url 'home' %}" hx-boost="true" class="btn btn-primary btn-sm"> Back </a> 
</div>


</body>


</html>
