

{% if searched_albums %}
<h3> Results for "{{ q }}"</h3>
{% for search in searched_albums %}
{% if search.hidden == False %}
<div class="card mb-2">
    <div class="row g-0">
        <div class="col-md-4">
            {% for image in search.images_set.all|slice:":1" %}
            <a hx-get="{% url 'display_all_images_from_single_album' search.pk %}" hx-target="#replaceable-div">
                <img src="{{ image.images.url }}" width="100%" height="100%" class="card-img-top" alt="...">
            </a>
            {% endfor %}
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title" style="color: blue;"> {{ search.album_name }} {{ search.album_year }}</h5> <br>
                <p class="card-text" style="color: grey;">
                    <b><a href="" style="text-decoration: none;">{{ search.album_owner.username }} | {{
                            search.album_owner.email }}</a></b>
                </p>
                <p class="card-text"><small class="text-muted"> Created {{ search.album_created.date }} </small></p>
                <p class="card-text"><small class="text-muted"> Last login {{ search.album_owner.last_login|timesince }}
                        ago </small></p>
                <p class="card-text"><small class="text-muted"> Member since {{ search.album_owner.date_joined.date }}
                    </small></p>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endfor %}
{% else %}
<p> No results for "{{ q }}"</p>
{% endif %}