
<div id="comments_container">
  <form enctype="multipart/form-data" hx-post="{% url 'create_comment' %}" hx-encoding="multipart/form-data"
    onsubmit='disableButton()'>
    <div class="alert alert-muted alert-dismissible fade show" role="alert">
      <div style="height:300px; overflow: auto;">

      {% csrf_token %}
        {% for form in comment_form %}
          <label for=""> Write comment </label><br>
          {{ form }}
        {% endfor %}<br><br>
      <button type="submit" id="btn" class="btn btn-primary btn-sm"> Save comment </button><br><br>

      {% if album_details.comment_set.all %}
        {% for comment in album_details.comment_set.all %}
        <p>
          {% comment %} link to the profile user if user is followed by request.user {% endcomment %}
          {% if user.profile in comment.comment_owner.profile.followed_by.all %}
            <a hx-get="{% url 'display_user_profile' comment.comment_owner.pk %}" hx-target="#replaceable-div">
              <b>@{{ comment.comment_owner.username }} <small>({{ comment.comment_owner.email }})</b>
            </a>
          {% else %}
            @{{ comment.comment_owner.username }} <small>({{ comment.comment_owner.email }})
          {% endif %}
          
          {{ comment.comment_created|timesince }} ago</small><br>
          {{ comment.comment|capfirst }}

            {% if comment.comment_owner.email == request.user.email %}
            <button style="display: block;" class="btn btn-outline-danger btn-sm" 
              hx-delete="{% url 'delete_album_comment' comment.pk %}" hx-confirm="Delete comment?">
                Delete
            </button>
            {% endif %}
        </p>
        {% endfor %}
      {% else %}
        No comments yet
      {% endif %}

      </div>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  </form>
</div>

<script>
  function disableButton() {
    var btn = document.getElementById('btn');
    btn.disabled = true;
    btn.innerText = 'Saving...'
  }
</script>