<form hx-post="{% url 'create_new_album' %}" hx-encoding="multipart/form-data" onsubmit='disableButton()'>
  <div class="alert alert-muted alert-dismissible fade show" role="alert">
    {% csrf_token %}
    <label for=""> Album name </label> <br>
    {{ form.album_name|capfirst }} <br> <br>

    <label for=""> Season </label> <br>
    {{ form.season_name }} <br> <br>

    <label for=""> Year </label> <br>
    {{ form.album_year }} <br> <br>

    {% for album_form in images_form %}
    {{ album_form }}
    {% endfor %} <br> <br>

    {{ form.hidden }}
    <label for=""> Visible for me only </label> <br> <br>

    <button class="btn btn-primary" id='btn' type="submit"> Save album </button> <br><br>

    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
</form>


<script>
  function disableButton() {
    var btn = document.getElementById('btn');
    btn.disabled = true;
    btn.innerText = 'Saving...'
  }
</script>