
<div class="alert alert-muted alert-dismissible fade show" role="alert">
  <div style="height:200px; overflow: auto">

    <h3>Recent activities</h3>

    {% if participants %}
      {% for participant in participants %}

      <a hx-get="{% url 'display_user_profile' participant.comment_owner.pk %}" hx-target="#replaceable-div">
        @{{ participant.comment_owner.username }}
      </a> commented <br>

      <a hx-get="{% url 'profile' participant.commented_album.album_owner.pk %}" hx-target="#replaceable-div">
        @{{ participant.commented_album.album_owner.username }}'s
      </a> album 

      <a hx-get="{% url 'display_all_images_from_single_album' participant.commented_album.pk %}" hx-target="#replaceable-div">
        <b style="text-decoration: underline;">{{ participant.commented_album.album_name }}</b>
      </a> <br>

      <div> "{{ participant.comment|truncatewords:20 }}" <br> <br> </div>
      {% endfor %} <br>

    {% else %}
      No activities yet <br>
    {% endif %}

  </div>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>