
<!-- <b>{{ my_albums|length }} albums</b> -->

<h3>My albums</h3>

{% if my_albums %}
{% for my_album in my_albums %}
    {% if my_album.album_owner == request.user %}
        <div class="card mb-2">
            <div class="row g-0">
                <div class="col-md-4">
                    {% for images in my_album.images_set.all|slice:":1" %}
                        <a hx-get="{% url 'display_all_images_from_single_album' my_album.pk %}"
                            hx-target="#replaceable-div">
                            <img src="{{ images.images.url }}" width="100%" height="100%" class="card-img-top" alt="...">
                        </a>
                    {% endfor %}
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title" style="color: blue;"> {{ my_album.album_name }} {{ my_album.album_year }}</h5> <br>
                        <p class="card-text" style="color: grey;"> {{ my_album.album_owner.username }} | {{ my_album.album_owner.email }} </p>
                        <p class="card-text"><small class="text-muted"> Created {{ my_album.album_created.date }} </small></p>
                        <p class="card-text"><small class="text-muted"> Last login {{ my_album.album_owner.last_login|timesince }} ago </small></p>
                        <p class="card-text"><small class="text-muted"> Member since {{ my_album.album_owner.date_joined.date }} </small></p>
                    </div>
                </div>
            </div>
                <button id="delete_album_button" 
                    class="btn btn-danger btn-sm"
                    hx-delete="{% url 'delete_album' my_album.pk %}"
                    hx-confirm="Confirm deleting"> 
                        Delete 
                </button> 
            </a>
        </div>
    {% endif %}
{% endfor %}

{% else %}
    <p>You don't have albums yet</p>
{% endif %} <br><br>
