
<div id="album-slideshow"></div>
<!-- <h6><a hx-get="{% url 'display_user_profile' album_details.album_owner.pk %}" hx-target="#replaceable-div">
  {{ album_details.album_owner.username }} 
</a></h6> -->
  
<!-- <button class="btn btn-sm btn-primary"> Follow {{ album_details.album_owner.username }}</button> -->
<h3>
  {{ album_details.album_name }} 
  
  <section style="float: right;">
    {% comment %} <button class="btn btn-sm btn-outline-primary" hx-get="{% url 'profile' album_details.album_owner.pk %}" hx-target="#profile">
      <h6> {{ album_details.album_owner.username }} profile </h6>
    </button>  {% endcomment %}
    {% comment %} {{ user.profile }} | {{ album_details.album_owner.profile.follows.all }} {% endcomment %}
    {% if user.profile in album_details.album_owner.profile.followed_by.all %}
      <div style="display: flex;">
        <form hx-post="{% url 'profile' album_details.album_owner.profile.id %}">
          {% csrf_token %}
          {% comment %} show user profile btn instead of follow user btn if user is already followed {% endcomment %}
          <button class="btn btn-danger btn-sm" name="follow" value="unfollow" type="submit">
            Unfollow @{{ album_details.album_owner.username  }}
          </button>
          <button class="btn btn-sm btn-outline-primary" hx-get="{% url 'display_user_profile' album_details.album_owner.pk %}" hx-target="#replaceable-div">
            <h6> {{ album_details.album_owner.username }} profile </h6>
          </button> 
        </form>
  </div>

    {% else %}
      <form hx-post="{% url 'profile' album_details.album_owner.profile.id %}">
        {% csrf_token %}
        {% comment %} if profile is unfollowed, show follow btn {% endcomment %}
        <button class="btn btn-primary btn-sm" name="follow" value="follow" type="submit">
          Follow @{{ album_details.album_owner.username }}
        </button>
      </form>
    {% endif %}

  </section> 
</h3>

{{ album_images.count }} {% if album_images.count == 1 %} image {% else %} images {% endif %}

<!-- <button class="btn btn-sm btn-primary"> Follow {{ album_details.album_owner.username }}</button> -->

<div style="display: flex; float: right;">
  <a hx-post="{% url 'like_album' album_details.id %}" hx-target="#replaceable-div">
    {% if user in album_details.likes.all %}
      <button type="submit" class="btn btn-sm btn-outline-primary">👍 {{ album_details.likes.count }} </button>
    {% else %}
      <button type="submit" class="btn btn-sm btn-outline-primary">👍 {{ album_details.likes.count }} </button>
    {% endif %}
  </a>
  <!-- <hr> -->
  <!-- <input type="hidden">
  <form action="{% url 'like' album_details.pk %}" method="POST">
    {% csrf_token %}  -->
    <!-- <button type="submit" class="btn btn-sm btn-outline-primary">👍 {{ album_details.likes.count }} </button> -->
  <!-- </form> -->

  <!-- <input type="hidden">
  <form action="{% url 'dislike' album_details.pk %}" method="POST">
    {% csrf_token %} -->
    <!-- <button type="submit" class="btn btn-sm btn-outline-primary"> 👎 {{ album_details.dislikes.count }} </button> -->
  <!-- </form> -->
</div><br><br>

<div style="float: right;">
  <small>
    {% if album_likes %}
      Recent liked by
    {% for likes in album_likes|slice:":2" %}
      <a hx-get="{% url 'display_user_profile' likes.pk %}" hx-target="#replaceable-div">
        <b>{% if likes.email == request.user.email %} you {% else %} {{ likes.username }} {% endif %}</b>
      </a>
    {% endfor %} <br>

    <a hx-get="{% url 'display_all_likes' album_details.pk %}" hx-target='#display_all_likes' style='float: right;'>
      {% if album_details.likes.count > 2 %} and {{ album_details.likes.count|add:"-2" }} more {% else %} {% endif %}
    </a><br>

    <div id="display_all_likes"></div>

  {% else %}
    No likes yet
  {% endif %}
</small>
</div><br><br>

<!-- comment form -->
<a id="album_comments_button" hx-get="{% url 'comment_form_display' %}" hx-target="#comment_form">
  <button class="btn btn-primary btn-sm btn-block" style="width: 100%;">
    Comments {{ album_details.comment_set.all.count }}
  </button>
</a><br><br>

<div id="comment_form"></div>

<!-- {{ album_images.count }} {{ album_details.album_name}} images -->
<div class="row row-cols-1 row-cols-md-2 g-4">
  {% for images in album_images %}
  <div class="col">
    <div class="card">
      <!-- <a hx-get="{% url 'album_slideshow' images.album_images.pk %}" hx-target="#album-slideshow"> -->
      <img src="{{ images.images.url }}" class="card-img-top" alt="...">
      <!-- </a> -->
      <a href="{{ images.images.url }}" download="Click do download">
        <button class="btn" style="width:100%"><i class="fa fa-download"></i> Download </button>
      </a>
      <!-- <p class="card-title"> Tap image to download </p> -->
    </div>
  </div>
  {% endfor %}
</div> <br>

<a href="#" hx-boost="true" class="btn btn-primary btn-sm" style="display: block;"> ^ </a><br>
