<!-- <b>{{ my_albums|length }} albums</b> -->

<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="pills-albums-tab" data-bs-toggle="pill" data-bs-target="#pills-albums" type="button"
      role="tab" aria-controls="pills-albums" aria-selected="true"><small> Albums </small></button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="pills-comments-tab" data-bs-toggle="pill" data-bs-target="#pills-comments" type="button"
      role="tab" aria-controls="pills-comments" aria-selected="false"> Comments </button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="pills-likes-tab" data-bs-toggle="pill" data-bs-target="#pills-likes" type="button"
    role="tab" aria-controls="pills-likes" aria-selected="false"> Likes </button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="pills-following-tab" data-bs-toggle="pill" data-bs-target="#pills-following" type="button"
      role="tab" aria-controls="pills-following" aria-selected="false"> Follows </button>
  </li>
</ul>

<div class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade show active" id="pills-albums" role="tabpanel" aria-labelledby="pills-albums-tab" tabindex="0">
    {% include 'baseApp/parts/profile_parts/my_albums_section.html' %}
  </div>
  <div class="tab-pane fade" id="pills-comments" role="tabpanel" aria-labelledby="pills-comments-tab" tabindex="0">
    {% include 'baseApp/parts/profile_parts/my_comments_section.html' %}
  </div>
  <div class="tab-pane fade" id="pills-likes" role="tabpanel" aria-labelledby="pills-likes-tab" tabindex="0">
    {% include 'baseApp/parts/profile_parts/my_likes_section.html' %}
  </div>
  <div class="tab-pane fade" id="pills-following" role="tabpanel" aria-labelledby="pills-following-tab" tabindex="0">
    {% include 'baseApp/parts/profile_parts/my_followings_section.html' %}
  </div>
</div>


