
<ul class="nav justify-content-end">

    {% if not user.is_authenticated %}

        <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}" hx-boost="true">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'register' %}" hx-boost="true">Register</a>
        </li>

    {% else %}

        <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}" hx-boost="true"> 
                <small>
                    Logout {{ request.user.username }} | {{ request.user }}
                </small>
            </a>
        </li>
        
    {% endif %}

</ul>

