
<h3>{{ profile.user.username }} albums 

  {% comment %} <div id="follows">
    {% if profile in user.profile.follows.all %}
    <button hx-get="{% url 'profile' profile.id %}" hx-target="#follows" class="btn btn-danger btn-sm"> 
        Unfollow @{{ profile.user.username }} 
    </button> 
    {% else %} 
    <button hx-get="{% url 'profile' profile.id %}" hx-target="#follows" class="btn btn-primary btn-sm">
      Follow @{{ profile.user.username }} 
    </button> 
    {% endif %}
  </div> {% endcomment %}
</h3>

{% if profile_album %}
  {% for album in profile_album %}
    <div class="card mb-2">
      <div class="row g-0">
        <div class="col-md-4">
          {% for images in album.images_set.all|slice:":1" %}
          <a hx-get="{% url 'display_all_images_from_single_album' album.pk %}" hx-target="#replaceable-div">
            <img src="{{ images.images.url }}" width="100%" height="100%" class="card-img-top" alt="...">
          </a>
          {% endfor %}
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title"> {{ album.album_name }} {{ album.album_year }}</h5>
            <p class="card-text"> @{{ album.album_owner.username }} ({{ album.album_owner.email }}) </p>
            <p class="card-text"><small class="text-muted"> Created {{ album.album_created.date }} </small></p>
            <p class="card-text"><small class="text-muted"> Last login {{ album.album_owner.last_login|timesince }} ago </small></p>
            <p class="card-text"><small class="text-muted"> Member since {{ album.album_owner.date_joined.date }}
              </small></p>
          </div>
        </div>
      </div>
      {% if request.user == album.album_owner %}
      <button id="delete_album_button" class="btn btn-danger btn-sm" hx-delete="{% url 'delete_album' album.pk %}"
        hx-confirm="Confirm deleting">
        Delete
      </button>
      {% endif %}
      </a>
    </div>
  {% endfor %}

{% else %}
    <p>No albums yet</p>
{% endif %} <br><br>