

<div id="comments-likes-section">
  <div id="comments-likes-left"> 
    <center>💬</center>
    <div style="height:600px; overflow: auto;">
    {% for album in my_albums %}
    {% for comment in album.comment_set.all %}
    {% if comment.comment_owner == request.user %}
    <ol class="list-group list-group">
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          "{{ comment.comment }}" to
          <a href="">{{ comment.commented_album.album_owner.username }}'s</a>
          <a hx-get="{% url 'display_all_images_from_single_album' comment.commented_album.pk %}"
            hx-target="#replaceable-div">{{ comment.commented_album }}</a>
        </div>
        
      </li>
      <span class="badge bg-muted text-dark">{{ comment.comment_created }}</span>
    </ol>
    {% endif %}
    {% endfor %}
    {% endfor %}
  </div>
  </div>
  
  <div id="comments-likes-right"> 
    <center>👍❤️</center>
    <div style="height:300px; overflow: auto;">
    {% for liked_albums in my_albums %}
    {% for likes in liked_albums.likes.all %}
    {% if likes == request.user %}
    <ol class="list-group list-group">
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <a hx-get="{% url 'display_all_images_from_single_album' liked_albums.pk %}" 
            hx-target="#replaceable-div"> 
            {{ liked_albums }} 
          </a>
        </div>
        <span class="badge bg-primary rounded-pill"></span>
      </li>
    </ol> 
    {% endif %}
    {% endfor %}
    {% endfor %}
    </div>

    <center>👎💔</center>
    <div style="height:300px; overflow: auto;">
      {% for disliked_albums in my_albums %}
      {% for likes in disliked_albums.dislikes.all %}
      {% if likes == request.user %}
      <ol class="list-group list-group">
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <a hx-get="{% url 'display_all_images_from_single_album' disliked_albums.pk %}" 
              hx-target="#replaceable-div"> 
              {{ disliked_albums }} 
            </a>
          </div>
          <span class="badge bg-primary rounded-pill"></span>
        </li>
      </ol> 
      {% endif %}
      {% endfor %}
      {% endfor %}
    </div>
  </div>
</div>
