
<center>👬</center>

<div id="my_follows_container">
    
  <div id="you_follow">
    <h6>You follow</h6>

    {% for follows in profile.follows.all %}
      {% if follows.user != profile.user %}
      {% comment %} {% if user.profile in follows.followed_by.all %} {% endcomment %}
        <a hx-get="{% url 'display_user_profile' follows.pk %}" hx-target="#replaceable-div">
          @<b>{{ follows.user.username }}({{ follows.user.email }}) </b> <br>
        </a>
      {% endif %}
    {% endfor %}
  </div>

  

  <div id="followed_by">
    <h6>You are followed by</h6>

    {% for followed_by in profile.followed_by.all %}
      {% if followed_by.user != profile.user %}

      {% if user.profile in followed_by.followed_by.all %}
        <a hx-get="{% url 'display_user_profile' followed_by.pk %}" hx-target="#replaceable-div">
          @<b>{{ followed_by.user.username }} ({{ followed_by.user.email }}) </b> <br>
        </a>
      {% else %}
        @{{ followed_by.user.username }} ({{ followed_by.user.email }})
      {% endif %}

        
      {% endif %}
    {% endfor %}
  </div>

</div>
