
<div id="my_likes_section">

  <div id="my-likes">
  <!-- ❤️  -->
  <center>👍</center>
    {% for likes in profile.user.likes.all %}
      <ol class="list-group list-group">
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">

            {% comment %} if user is followed, I can access his profile over his name as a link {% endcomment %}
            {% if user.profile in likes.album_owner.profile.followed_by.all %}
              <a hx-get="{% url 'display_user_profile' likes.album_owner.pk %}" hx-target="#replaceable-div">
                @<b>{{ likes.album_owner.username }}'s</b>
              </a> 
            {% else %}
              @{{ likes.album_owner.username }}'s
            {% endif %}

            <a hx-get="{% url 'display_user_profile' profile.user.pk %}" hx-target="#replaceable-div"> album 
              <b> {{ likes }} </b> 
            </a>

          </div>
          <span class="badge bg-primary rounded-pill"></span>
        </li>
      </ol> 
    {% endfor %}
  </div>

  {% comment %} <div id="my-dislikes">
        <!-- 💔 -->
  <center>👎</center> 
    {% for dislikes in profile.user.dislikes.all %}
      <ol class="list-group list-group">
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <a hx-get="{% url 'display_user_profile' profile.user.pk %}" 
              hx-target="#replaceable-div"> 
              {{ dislikes.album_owner.username }}'s album<p style="text-decoration: underline;">{{ dislikes }} </p>
            </a>
          </div>
          <span class="badge bg-primary rounded-pill"></span>
        </li>
      </ol> 
    {% endfor %}
  </div> {% endcomment %}

</div>